// TODO: Host fonts locally with https://google-webfonts-helper.herokuapp.com/fonts
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 200;
    src: url('./fonts/source-sans-pro-v21-latin-200.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./fonts/source-sans-pro-v21-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/source-sans-pro-v21-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/source-sans-pro-v21-latin-200.woff') format('woff'), /* Modern Browsers */
         url('./fonts/source-sans-pro-v21-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/source-sans-pro-v21-latin-200.svg#SourceSansPro') format('svg'); /* Legacy iOS */
  }
  /* source-sans-pro-300 - latin */
  @font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    src: url('./fonts/source-sans-pro-v21-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./fonts/source-sans-pro-v21-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/source-sans-pro-v21-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/source-sans-pro-v21-latin-300.woff') format('woff'), /* Modern Browsers */
         url('./fonts/source-sans-pro-v21-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/source-sans-pro-v21-latin-300.svg#SourceSansPro') format('svg'); /* Legacy iOS */
  }
  /* source-sans-pro-600 - latin */
  @font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    src: url('./fonts/source-sans-pro-v21-latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./fonts/source-sans-pro-v21-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/source-sans-pro-v21-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/source-sans-pro-v21-latin-600.woff') format('woff'), /* Modern Browsers */
         url('./fonts/source-sans-pro-v21-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/source-sans-pro-v21-latin-600.svg#SourceSansPro') format('svg'); /* Legacy iOS */
  }



@mixin ssp-light($color,$size ) {
     font-family: 'Source Sans Pro';
     font-style: normal;
     font-weight: 300;
     color: $color;
     font-size: $size;
}

@mixin ssp-semi-bold($color,$size  ) {
     font-family: 'Source Sans Pro';
     font-style: normal;
     font-weight: 600;
     color: $color;
     font-size: $size;
}
@mixin ssp-extra-light($color,$size  ) {
     font-family: 'Source Sans Pro';
     font-style: normal;
     font-weight: 200;
     color: $color;
     font-size: $size;
}