@include breakpoint(0, $mobile) {   
    #hamburger {
        width: 24px;
        height: 18px;
        padding: 0;
        position: absolute;
        right: 1rem;
        top: 1rem;
        border: none;
        background-color: transparent;
        cursor: pointer;
        z-index: 20;
        
        [class^=line-] {
            background-color: #FFAD6E;
            width: 100%;
            height: 2px;
            position: absolute;
            transition: transform .5s ease;
        }
        .line-1{
            top: 0;
        }
        .line-2{
            top: 8px;
            width: 75%;
            right: 0;
        }
        &.open{
            .line-1 {
                transform: rotate(45deg);
                transform-origin: 0 0;
            }
            
            .line-2{
                transform: rotate(-45deg) translate(11px, 5px); 
                transform-origin: 0 18px;
                top: 16px;
                width: 100%;
            }
        }

        &.open + ul{
            transform: translateX(0%);
            transition: transform 0.4s;
        }
        &.closed + ul{
            transform: translateX(100%);
            transition: transform 0.45s;
        }
    }
}