@include breakpoint(0, $mobile) {


    #mainnav {
        position: fixed;
        right: 0;
        top: 0;
        padding: 1rem;
        width: 100%;
    }
    ul {
        position: fixed;
        padding: 3rem 1rem 1rem 1rem;
        width: 75vw;
        box-shadow: -5px 0 10px 0 rgb(0 0 0 / 0.1);
        top: 0;
        right: 0;
        background-color:  var(--dark-light);
        height: 100vh;
        text-align: right;
        li{
            padding-top: 25px;
            a{
             @include ssp-light(var(--white),22px);
            } 
         }
    }
}

