@include breakpoint(0, $mobile) {
    #mainnav {
        position: fixed;
        width: 100%;
        background-color: #363636;
        right: 0;
        top: 0;
        z-index: 10;
        ul {
            display: flex;
            flex-wrap: nowrap;
            align-items: flex-end;
            flex-direction: column;
            gap: 1.5rem;
            max-width: 15rem;
            padding: 4rem 1rem 1rem 1rem;
            width: 100%;
            position: fixed;
            right: 0;
            top: 0;
            box-shadow: -5px 0 10px 0 rgb(0 0 0 / 0.1);
            background-color: #363636;
            height: 100vh;
            a{
                color: white;
                list-style-type: none;
                text-decoration: none;
                font-size: 18px;
            }
        }
    }
}
