@include breakpoint(0, $mobile) {
    #mainnav {
        position: fixed;
        width: 100vw;
        background-color: #363636;
        right: 0;
        top: 0;
        z-index: 10;
        ul {
            display: flex;
            flex-wrap: nowrap;
            align-items: flex-end;
            flex-direction: column;
            gap: 1.5rem;
            max-width: 15rem;
            padding: 4rem 1rem 1rem 1rem;
            width: 100%;
            position: fixed;
            right: 0;
            top: 0;
            box-shadow: -5px 0 10px 0 rgb(0 0 0 / 0.1);
            background-color: #363636;
            height: 100vh;
            a{
                color: white;
                list-style-type: none;
                text-decoration: none;
                font-size: 18px;
            }
        }
    }
}
@include breakpoint($desktop, $max-width) {
    #mainnav {
        width: fit-content;
        button{
            display: none;
        }
        ul {
            display: flex;
            top: 40px;
            left: 1478px;
            width: 300px;
            height: 32px;
            justify-content: space-between;
            flex-direction: row;
            a{
                color: var(--primary);
                text-decoration: none;
                padding-bottom: 5px;
                border-bottom: var(--primary) 1.5px solid ;
                font-size: 18px;
                text-align: left;
                font-family: Source Sans Pro;
                letter-spacing: 0.33px;
                color: var(--primary);
                text-transform: uppercase;
            }
        }
    }
    .flex{
        margin-top: 20px;
        width: 96vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
