

#about{
    background-color: var(--offwhite);
    padding-left: 0px;
    img{
        max-width: 100%;
        height: auto;
    }
    .title{
        padding-top: 20px;
        padding-left: 16px;
    }
    .content{
        padding-left: 16px;
        padding-top: 20px;
        padding-bottom: 10px;
        padding-right: 16px;
    p{
        padding-bottom: 10px;
        line-height: 30px;
    }
    }
        .button{
            color: var(--black);
        }
    padding-bottom: 55px;
    padding-top: 62px;
}