

#about{
    background-color: var(--offwhite);
    padding-left: 0px;
    padding-bottom: 55px;
    padding-top: 62px;
    @include breakpoint($mobile){
        display: flex;
        padding:  170px 0;
    }

    .content-container{
        @include breakpoint($mobile){
            width: 50%;
        }
    }
    img{
        @include breakpoint($mobile){
           width: 50%;
            object-fit: cover;
            padding-left: 36px;
            max-height: 740px;
        }
        max-width: 100%;
        height: auto;
        
    }
    .title{
        padding-top: 20px;
        padding-left: 16px;
    }
    .content{
        padding-left: 16px;
        padding-top: 16px;
        padding-bottom: 10px;
        padding-right: 16px;
    p{
        max-width: 600px;
        padding-bottom: 10px;
        line-height: 30px;
    }
    }
        .button{
            color: var(--black);
            @include breakpoint($mobile){
                margin-top: 35px;
            }
        }
    
}