

header{
    display: flex;
    padding-top: 11px;
    padding-left: 16px;
    background-image: url(../../images/intro.jpg);
    background-size: cover;
    background-repeat:   no-repeat;
    background-position: center center; 
    height: 558px;
    flex-direction: column;

    h1{
        
        @include ssp-semi-bold(white,16px);
        span{
            @include ssp-light(white,16px);
        }
    }

    .cta{
        margin-top: 270px;
        margin-right: 50px;
        align-self: flex-end;
        h2{
            margin: 10px 0;
            @include ssp-light(var(--primary-dark),38px);
        }
       
    }
}