

#news{
    padding-right: 16px;
    display: flex;
    flex-direction: column;

    

    .article-container{
        @include breakpoint($mobile) {
            display: flex;
            flex-direction: row;
            flex-wrap:  wrap;
            justify-content: space-evenly;
            padding-bottom: 100px;
        }
    }
    
    article{
        max-width: 420px;
        align-self: center;
        margin:  16px 0;
        background-color: var(--grey-light);

        h3{
            padding: 10px 16px;
        }
        img{
            object-fit: cover;
            width: 100%;
            height: 300px;
        }
        .content{
            padding: 0 16px;
            padding-top: 20px;
            p{
                line-height: 30px;
                padding-bottom: 15px;
            }
        }
        .button{
            color: var(--black);
        }
        padding-bottom: 36px;

    }
}