

#news{
    padding-right: 16px;
    
    .article-container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        @include breakpoint($mobile) {
            padding-top: 20px;
            flex-direction: row;
            flex-wrap:  wrap;
            justify-content: space-evenly;
            padding-bottom: 100px;
        }
    }
    
    article{

        max-width: 420px;
        
        align-self: center;
        margin:  16px 0;
        background-color: var(--grey-light);
        @include breakpoint($mobile) {
            max-width: 600px;
        }
        h3{
            padding: 10px 16px;
            @include breakpoint($mobile) {
                padding: 22px  36px;
            }
        }
        img{
            object-fit: cover;
            width: 100%;
            height: 300px;
        }
        .content{
            padding: 0 16px;
            padding-top: 20px;
            p{
                line-height: 30px;
                padding-bottom: 15px;
            }
            @include breakpoint($mobile) {
                padding:   36px;

                p{
                    padding-bottom:36px;
                }
            }
        }
        .button{
            color: var(--black);
        }
        padding-bottom: 36px;
        @include breakpoint($mobile) {
            padding-bottom:  0px;
        }
    }
}