@include breakpoint(0, $mobile){
  #workshops{
    .level {
      margin-top: 100px;
      display: flex;
      background-color: var(--dark-light);
      img {
        align-self: center;
        width: 50px;
        height: 50px;
        }
      .symbol {
        top: -55px;
        position: absolute;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        .image-container {
          position: relative;
          img {
            width: 67px;
            height: 67px;
          }
  
          .counter{
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            top: -10px;
            right: -10px;
            position: absolute;
            background-color: var(--grey);
            width: 35px;
            height: 35px;
            z-index: -1;
            p{
                @include ssp-semi-bold(var(--primary-dark), 26px);
            }
          }
        }
      }
      .content {
        display: flex;
        margin-top: 80px;
        flex-direction: column;
      }
  
      .aside {
        p {
          writing-mode: vertical-lr;
          text-orientation: mixed;
          transform: rotate(180deg);
        }
      }
    }
  }
}
@include breakpoint($desktop, $max-width){
  #workshops{
    .grid{
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
    }
    .level {
      display: flex;
      flex-direction: row;
      margin-left: 8vw;
      margin-top: 40px;
      .quotemarks {
        position: absolute;
        bottom: 0;
        right: 20vw;
        width: 120px;
        height: 120px;
        }
      .symbol {
        position: absolute;
        left: 37vw;
        align-self: center;
        .image-container {
          img {
            width: 10vw;
            height: 10vw;
          }
  
          .counter{
            border-radius: 50%;
            left: -44vw;
            position: absolute;
            p{
                @include ssp-semi-bold(var(--dark-light), 18rem);
            }
          }
        }
      }
      .content {
        background-color: var(--dark-light);
        padding: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 20vw;
        p {
          max-width: 30vw;
        }
      }
  
      .aside {
        margin: 0 20px 0 20px;
        width: 20vw;
      }
    }
  }
}
#workshops {
  .level {
    position: relative;
    padding-left: 16px;
    .symbol {
      width: fit-content;
      .image-container {
        width: fit-content;
        height: fit-content;
        padding: 24px;
        border-radius: 50%;
        background-color: var(--grey-dark);
      }
    }
    .content {
      width: 100%;
      p {
        @include ssp-light(var(--white), 16px);
        line-height: 20px;
        padding-bottom: 20px;
      }

      h3{
       
        padding-bottom: 10px;
      }

      blockquote{
        align-self: center;
        @include ssp-light(var(--white), 22px);
        padding-bottom: 35px;
      }
    }

    .aside {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      background-color: var(--grey-light);
      p {
        @include ssp-extra-light(var(--dark), 18px);
        padding-top: 15px;
        padding-left: 10px;
        padding-right: 5px;
      }
    }
  }
}
