

#news{
    padding-right: 16px;
    display: flex;
    flex-direction: column;
    article{
        max-width: 420px;
        align-self: center;
        margin:  16px 0;
        background-color: var(--grey-light);

        h3{
            padding: 10px 16px;
        }
        img{
            width: 100%;
            max-height: auto;
        }
        .content{
            padding: 0 16px;
            padding-top: 20px;
            p{
                line-height: 30px;
                padding-bottom: 15px;
            }
        }
        .button{
            color: var(--black);
        }
        padding-bottom: 36px;

    }
}